html {
  background: url("./images/background.jpg") no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
#container {
  display: flex;
}
canvas {
  margin-top: 5vh;
}
#fight {
  padding: 10px;
  display: block;
  margin: 0 auto;
}
h2 {
  margin: 0%;
  color: red;
  text-align: center;
  cursor: pointer;
}

#friend {
  height: auto;
  margin-right: 10vw;
  text-align: center;
}
#enemy {
  text-align: center;
  margin-left: auto;
  margin-right: 20px;
}
button {
  color: rgb(95, 10, 10);
  font-weight: bold;
  background-color: aqua;
  margin: 10px 5px;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px;
}
